---
import TiltingCard from '@components/Card/TiltingCard.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import Footer from 'src/components/Footer.astro'
import BaseLayout from 'src/layouts/BaseLayout.astro'

import i_heroX from '@assets/branch-extra.jpg'
import i_hero_s1x from '@assets/branch/branch-s@1.0x.jpg'
import i_hero_s15x from '@assets/branch/branch-s@1.5x.jpg'
import i_hero1x from '@assets/branch/branch@1.0x.jpg'
import i_hero15x from '@assets/branch/branch@1.5x.jpg'
import i_hero2x from '@assets/branch/branch@2x.jpg'
import logoSvg from '@assets/images/svg/logo.svg?raw'

let heroImgsSrcSet = [
  {
    media: '(min-width: 70rem)',
    srcset: i_hero2x.src,
  },
  {
    media: '(min-width: 50rem)',
    srcset: i_hero15x.src,
  },
  {
    media: '(min-width: 44rem)',
    srcset: i_hero1x.src,
  },
  {
    media: '(min-width: 30rem)',
    srcset: i_hero_s15x.src,
  },
  {
    media: '(min-width: 0rem)',
    srcset: i_hero_s1x.src,
  },
]

// insert filtering for featured projects
let allProjects = await getCollection('projects')

---

<BaseLayout id='theme-design'>
  <!-- Insert SEO -->

  <div class:list={[
    'relative left-0 top-0 -z-[1]',
    'sm-th:fixed'
  ]}>
    <div class:list={[
      'absolute w-11 z-[1] m-[4.5rem_0_0_3rem]',
      'sm-th:m-[3rem_0_0_6rem]',
      'md-th:m-[4.125rem_0_0_9rem]',
      'lg-th:m-[5.125rem_0_0_10.5rem]'
    ]}>
      <Fragment set:html={logoSvg} />
    </div>

    <div
      role='presentation'
      class:list={[
        'relative w-[18.75rem]',
        'md-th:w-[21rem] lg-th:w-[24rem]'
      ]}
    >
      <picture>
        {heroImgsSrcSet.map(({ media, srcset}) => (
          <source media={media} srcset={srcset} />
        ))}
        <Image src={i_hero_s1x} alt='background of branches' />
      </picture>
    </div>
  </div>

  <section class:list={[
    'max-w-5xl px-lg z-[1]',
    'sm-th:ml-40 sm-th:mt-[3.25rem]',
    'md-th:ml-[12.5rem] md-th:mt-[4.25rem]',
    'lg-th:ml-60 lg-th:mt-[5.25rem]'
  ]}>
    <header>
      <h1>ashley</h1>
      <p class='italic'>web developer / designer / storymaker</p>
    </header>

    <section class='mt-20'>
      <h2 class='sr-only'>Featured Projects</h2>

      <div class:list={[
        'grid grid-cols-1 gap-2xl items-center',
        'sm:grid-cols-2',
        'lg:grid-cols-3'
      ]}>
        {allProjects.map(project => (
          <TiltingCard
            link={`/projects/${project.slug}?home=design`}
            project={project}
          />
        ))}
      </div>
    </section>

    <div
      role='presentation'
      class:list={[
        `fixed right-0 bottom-12 w-36 -z-10 hidden`,
        `lg:block`
      ]}
    >
      <Image src={i_heroX} alt='' />
    </div>

    <Footer />
  </section>

</BaseLayout>