---
import logoSvg from '@assets/images/svg/logo.svg?raw'
import ProjectHeader from '@components/ProjectHeader.astro'
import ProjectToc from '@components/ProjectToc.astro'
import Seo from '@components/Seo.astro'
import ContentLayout from '@layouts/ContentLayout.astro'
import { Image } from 'astro:assets'
import { getCollection, render } from 'astro:content'

import type { GetStaticPaths } from 'astro'
import type { CollectionEntry } from 'astro:content'

export const getStaticPaths = (async () => {
  // TODO: Add sorting to getCollection
  const projects = await getCollection('project')
  if (!projects) return []

  return projects.map((project) => ({
    params: {
      // This creates a path/page for collection entry
      id: project.id,
    },
    props: {
      project,
    },
  }))
}) satisfies GetStaticPaths

type Props = { project: CollectionEntry<'project'> }

const { project }: Props = Astro.props

const { Content, headings } = await render(project)

// This gets the structure from the collection schema
const { category, heroImage, templateType } = project.data

const projectTemplate = templateType === 'project'
const galleryTemplate = templateType === 'gallery'
---

<ContentLayout
  bodyClass={category}
  class:list={[
    projectTemplate && 'project-grid relative max-w-[100rem]',
    galleryTemplate && 'max-w-[80rem]',
  ]}
>
  <Fragment slot='seo'>
    <Seo
      title={project.data.title}
      description={project.data.description}
    />
  </Fragment>

  <div
    class:list={[
      'project-logo',
      'top-lg pb-2xl sticky right-0 z-50 h-fit w-fit pl-0',
      'lg:-ml-[calc(var(--spacing-container-offset)_/_2)] lg:-translate-x-1/3 xl:-translate-x-1/3',
    ]}
  >
    <a
      data-logo
      href='/'
      class:list={['block w-2xl max-w-[42rem] min-w-[var(--spacing-xl)]']}
    >
      <Fragment set:html={logoSvg} />
    </a>
  </div>

  <ProjectHeader
    title={project.data.title}
    category={category}
    subtitle={project.data.subtitle}
    tags={project.data.tags}
    slot='header'
    class='project-head'
  />

  {
    projectTemplate && !!heroImage && (
      <div class='project-hero relative'>
        <Image
          src={heroImage}
          alt='some alt text'
          class:list={[
            'absolute top-[-1rem] right-0 opacity-70',
            'block max-w-[7rem]',
            'md:max-w-[9rem]',
            'lg:top-auto lg:right-auto',
          ]}
        />
      </div>
    )
  }

  <!-- TODO: May need to update if I want a toc with a gallery section -->
  {
    !!headings && (
      <nav class='project-toc'>
        <ProjectToc
          headings={headings}
          maxDepth={3}
        />
      </nav>
    )
  }

  <section class='prose project-body'>
    <Content />
  </section>
</ContentLayout>

<style is:global>
  @reference '../../css/global.css';

  .project-grid {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-areas:
      'logo'
      'head'
      'toc '
      'body';

    /* @screen md {
    grid-template-columns: 3fr 1fr;
  } */

    @variant lg {
      column-gap: 3rem;
      grid-template-columns: 5fr 2fr;
      grid-template-areas:
        'logo logo'
        'head hero'
        'body toc';
    }
  }

  .project-logo {
    grid-area: logo;
  }

  .project-head {
    grid-area: head;
  }

  .project-hero {
    grid-area: head;

    @variant lg {
      grid-area: hero;
      position: sticky;
      top: var(--spacing-lg);
    }
  }

  .project-body {
    grid-area: body;
  }

  .project-toc {
    grid-area: toc;

    @variant lg {
      position: sticky;
      top: var(--spacing-4xl);
      height: fit-content;
    }
  }
</style>
