---
import hexagon from '@assets/images/svg/icon-hexagon.inline.svg?raw'
import pentagon from '@assets/images/svg/icon-pentagon.inline.svg?raw'
import trapezoid from '@assets/images/svg/icon-trapezoid.inline.svg?raw'
import triangle from '@assets/images/svg/icon-triangle.inline.svg?raw'
import type { ProjectCategory } from '@utils/helpers'
import { ProjectCategoryEnum } from '@utils/helpers'

type ShapeProps = {
  category: ProjectCategory
  className?: string
}

const { category, className } = Astro.props as ShapeProps

const num = ProjectCategoryEnum[category]
---

<div class={className}>
  {num === ProjectCategoryEnum.art && <Fragment set:html={triangle} />}
  {num === ProjectCategoryEnum.dev && <Fragment set:html={trapezoid} />}
  {num === ProjectCategoryEnum.design && <Fragment set:html={hexagon} />}
  {num === ProjectCategoryEnum.storytelling && <Fragment set:html={pentagon} />}
</div>
