---
import CategoryIcon from './CategoryIcon.astro'

import type { CollectionEntry } from 'astro:content'

// Pass the project data as props?
type Props = {
  project: CollectionEntry<'projects'>
  class?: string
}

const { project, class: className }: Props = Astro.props
const { title, category, subtitle, tags } = project.data
---

<header class:list={['relative', className]}>
  <CategoryIcon
    category={category}
    class='absolute w-7 -top-8 left-2 lg:w-8 lg:top-2 lg:left-[-4.5rem]'
  />
  <h1 class='relative inline-block mb-xs'>
    {title}
    <span class='font-mono italic font-light text-sm inline-block p-[0_1em]'>
      &#123;{category}&#125;
    </span>
    <!-- Decorative highlight -->
    <span
      transition:name={`project-highlight-${project.id}`}
      aria-hidden
      class:list={[
        'absolute block top-[-12px] left-[-10px] w-full h-full',
        'rotate-[-2deg] z-[-1] bg-th-highlight',
      ]}
    ></span>
  </h1>
  <p class='italic text-lg tracking-wider'>{subtitle}</p>
  <p class='text-sm'>
    {tags.map((tag) => `${tag} / `)}
  </p>
  <!-- TODO: Also a header image goes here? -->
</header>
