---
import OgImageArt from '@assets/images/ogImage_square_art.jpg'

import type { ImageMetadata } from 'astro'

type Props = {
  title?: string
  description?: string
  image?: ImageMetadata
  homeTitle?: string
}

const {
  title,
  description = 'works combining web dev, design, and art',
  image = OgImageArt,
  homeTitle = 'chungsi | web dev & design',
} = Astro.props

console.log('image', image)

const siteTitle = (title ? `${title} | ` : '') + homeTitle
---

<title>{siteTitle}</title>

<meta
  name='description'
  content={description}
/>

<meta
  name='image'
  content={image.src}
/>

<meta
  property='og:title'
  content={siteTitle}
/>
<meta
  property='og:type'
  content='website'
/>
<meta
  property='og:url'
  content={Astro.url.href}
/>
<meta
  property='og:image'
  content={image.src}
/>
<meta
  property='og:description'
  content={description}
/>

<meta
  property='twitter:description'
  content={description}
/>
<meta
  property='twitter:image'
  content={image.src}
/>
<meta
  property='twitter:site'
  content='@chungsi_'
/>
<meta
  property='twitter:card'
  content='summary'
/>
