---
import CategoryIcon from './CategoryIcon.astro'

// Pass the project data as props?
type Props = {
  title: string
  category: string
  subtitle: string
  tags: string[]
  class?: string
}

const { title, category, subtitle, tags, class: className }: Props = Astro.props
---

<header class:list={['relative', className]}>
  <CategoryIcon
    category={category}
    class='absolute -top-8 left-2 w-7 lg:top-2 lg:left-[-4.5rem] lg:w-8'
  />
  <h1 class='mb-xs relative inline-block'>
    {title}
    <span class='font-th-mono inline-block p-[0_1em] text-sm font-light italic'>
      &#123;{category}&#125;
    </span>
    <!-- Decorative highlight -->
    <!-- transition:name={`project-highlight-${project.id}`} -->
    <span
      aria-hidden
      class:list={[
        'absolute top-[-12px] left-[-10px] block h-full w-full',
        'bg-th-highlight z-[-1] rotate-[-2deg]',
      ]}
    ></span>
  </h1>
  <p class='text-lg tracking-wider italic'>{subtitle}</p>
  <p class='text-sm'>
    {tags.map((tag) => `${tag} / `)}
  </p>
  <!-- TODO: Also a header image goes here? -->
</header>
