---
import OgImageDesgin from '@assets/images/ogImage_square_design.jpg'

import type { ImageMetadata } from 'astro'

type Props = {
  title?: string
  homeTitle?: string
  description?: string
  image?: ImageMetadata
}

const {
  title,
  homeTitle = 'chungsi | web dev & design',
  description = 'works combining web dev, design, and art',
  image = OgImageDesgin,
} = Astro.props

const siteTitle = (title ? `${title} | ` : '') + homeTitle
---

<title>{siteTitle}</title>
<meta name='description' content={description} />
<meta name='image' content={image.src} />
<meta property='og:title' content={siteTitle} />

{
  /*
    TODO: Could add more meta properties for articles if I evern
    start a blog: https://ogp.me/#type_article
    */
}
<meta property='og:type' content='website' />
<meta property='og:url' content={Astro.url.href} />
<meta property='og:image' content={image.src} />
<meta property='og:description' content={description} />

<meta property='twitter:description' content={description} />
<meta property='twitter:image' content={image.src} />
<meta property='twitter:site' content='@chungsi_' />
<meta property='twitter:card' content='summary' />
